.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.iconPlay {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 6em;
  height: 6em;
  padding: 1.5em;
  fill: var(--color-theme);
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  background: var(--color-secondary);
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  fill: var(--color-theme);
}

.icon {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 50%;
  background: var(--color-secondary);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.iconStop {
  padding: 0.8em 1em 1.2em;
  composes: icon;
}
