.cards {
  display: flex;
  justify-content: center;
  gap: 2.5em;
  margin: 2em 2em 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 6em;
  color: var(--color-theme);
  border-radius: 5%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  background: var(--color-white);
}

.card:nth-child(2),
.card:nth-child(4) {
  margin-right: -1em;
}

.card:nth-child(3),
.card:nth-child(5) {
  margin-left: -1em;
}

.card > * {
  font-size: 3em;
}
